* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #111111;
  display: flex;
  flex-direction: column;
}

.contenido-cooming {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.contenido-cooming h3{
    color: #FEFAE0;
    font-size: 5rem;
    margin-top: 5rem;
    text-align: center;
}

.slide-container {
  width: 50%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slide img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.navegacion {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navBtn {
  background: rgba(134, 132, 132, 0.836);
  border: none;
  color: #fefae0;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem 1rem; /* Ajuste de espaciado horizontal */
  transition: background 0.3s ease;
}


.navBtn:hover {
  background: rgba(68, 6, 77, 0.7);
}


@media screen and (max-width: 768px) {
  .contenido-cooming h3{
    color: #FEFAE0;
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
}

  
.slide img {
  width: 90%;
  height: auto;
  object-fit: cover;
}
}