* {
  margin: 0;
  padding: 0;
  font-style: normal;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 400px;
  min-height: auto;
  background-image: url(../images/fondoFooter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.partners{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners h3{
  font-style: inherit;
  font-size: 4rem;
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
}

.partners img{
  width: 10rem;
  margin-top: 2rem;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.partners img {
  animation: slide 7s infinite;
}






.contenidoFooter {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
@media (max-width: 767px) {
  .contenidoFooter {
    display: flex;
    flex-direction: column; /* Cambio a layout vertical */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Agregar algo de padding para no tocar los bordes de la pantalla */
  }
}

.numeroCelular {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
}

@media (max-width: 767px) {
  .numeroCelular {
    display: flex;
    flex-direction: row; /* Cambio a layout vertical */
    justify-content: center;
    align-items: center;
  }
}

.numeroCelular h3 {
  color: #c9e265;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-style: italic;

  font-weight: bold;
}

.numeroCelular h4 {
  color: white;
  font-style: italic;
  font-weight: bold;
}

.email {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.5rem;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 767px) {
  .email {
    display: flex;
    flex-direction: row; /* Cambio a layout vertical */
    justify-content: center;
    align-items: center;
  }
}

.email h3 {
  color: #c9e265;
  font-weight: 600;
  font-style: italic;
  font-weight: bold;
}

.email h4 {
  color: white;
  font-style: italic;
  font-weight: bold;
}

.social {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  font-style: italic;
  font-weight: bold;
}

@media (max-width: 767px) {
  .social {
    display: flex;
    flex-direction: row; /* Cambio a layout vertical */
    justify-content: center;
    align-items: center;
  }
}

.social h3 {
  text-align: center;
  color: #c9e265;
  font-weight: 600;
  font-style: italic;
  font-weight: bold;
}

/* Estilos para las imágenes */
.social img {
  width: 40px; /* Tamaño original de las imágenes */
  transition: filter 0.5s ease; /* Transición suave */
}

/* Cambiar el color al hacer hover */
.social img:hover {
  filter: grayscale(100%); /* Cambiar a escala de grises (70% de intensidad) */
}

.links {
  text-decoration: none;
}




@media (max-width: 767px) {

  .partners h3 {
    font-size: 2rem;
  }

  .partners img{
    width: 10rem;
  }
}


@media screen and (min-width: 768px) and (max-width: 960px) {
  .partners h3 {
    font-size: 4rem;
  }

  .partners img{
    width: 15rem;
  }
}
