* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #111111;
  color: white; /* Cambiado el color del texto para el body */
}

.contenido {
  display: flex;
  width: 100%;
  height: 100vh;
}

.formulario {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  color: rgb(
    250,
    250,
    250
  ); /* Cambiado el color del texto para el formulario */
}

.tuEmail {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

.tuEmail h4 {
  font-size: 1rem;
  margin-left: 0.5rem; /* Espacio entre la imagen y el texto */
  font-style: italic;
}

.tuEmail img {
  margin-right: 0.5rem; /* Espacio entre la imagen y el texto */
}

.formulario h3 {
  font-size: 3rem;
  font-style: italic;
}

.formulario h4 {
  font-size: 1rem;
  margin-top: 1rem;
  font-style: italic;
}
.formulario button{
  padding: .5rem 2rem;
  background-color: antiquewhite;
  color: black;
  font-style: italic;
  border-radius: 3rem;
  margin-top: 1rem;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.formulario button:hover {
  background-color: black;
  color: antiquewhite;
}

.formulario button:active {
  background-color: #a3bb43;
}

.emailInput {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: antiquewhite;
  border-radius: 3rem;
  border: none;
  width: 300px;
}

.mensajeInput {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: antiquewhite;
  border-radius: 1rem;
  border: none;
  width: 300px;
  height: 70px;
  align-items: start;
  text-align: start;
}


.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinea verticalmente */
  align-items: center; /* Alinea horizontalmente */
  width: 60%;
  height: 100vh;
}

.informacion p {
  font-size: 1.5rem;
  text-align: center; /* Alinea el texto al centro */
  padding-right: 15px; /* Espacio entre el borde y el texto */
  border-right: 10px solid #c9e265; /* Borde izquierdo de color verde */
  border-radius: 5px; /* Redondea las esquinas del borde */
  font-style: italic;

}

.informacion img {
  width: 7rem;
  margin-top: 1rem;
  align-self: flex-end; /* Alinea la imagen al final del contenedor */
  margin-right: 2rem;
}



@media screen and (max-width: 767px) {
  .contenido {
    flex-direction: column-reverse;
  }
  
  .formulario{
    width: 100%;
    height: auto;
  }

  .informacion{
    width: 100%;
    height: auto;
  }
  .informacion img{
    width:3rem;
  }
}


@media screen and (max-width: 399px) {
  .informacion p{
    font-size: 1rem;
  }
  .informacion img{
    width: 3rem;
  }
}



@media screen and (max-width: 336px) {

  .formulario h3{
    font-size:2rem;
  }
  .emailInput {
    width: 200px;
  }
  
  .mensajeInput {
    width: 200px;
    height: 70px;
  }
}


@media screen and (max-width: 216px) {

  .formulario h3{
    font-size:1.5rem;
  }
  .emailInput {
    width: 150px;
  }
  
  .mensajeInput {
    width: 150px;
    height: 70px;
  }
}