* {
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box; 
    font-family: "Montserrat", sans-serif;
}

html, body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    position: relative;
}

a:hover {
    color: orange;
}

a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}





header {
    width: 100%;
    height: 60px;
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo img {
    width: 150px;
    cursor: pointer;
}


.navbar .logo img {
    border: none;
  }


.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links li a {
    text-decoration: none;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.action_btn:hover {
    transform: scale(1.05);
    color: black;
}

.action_btn:active {
    transform: scale(0.95);
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: grey;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    display: block;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* CSS para el menú desplegable */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #0000008f;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    padding:1rem ;
  }
  
  .dropdown-menu li {
    float: none;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: none;
        position: absolute;
        right: 2rem;
        top: 60px;
        width: 200px; /* Cambiado de 100% a auto */
        background-color: grey;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
    }

    .dropdown_menu.open {
        display: block;
    }

    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}

video#myVideo {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.main {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-direction: column;
}

@media (max-width: 767px) {
    .main {
        margin-top:2rem ;
    }
}

.main h2 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin: 10px;
    font-weight:bold;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
    .main h2 {
        font-size: 5rem;
    }
}

@media (max-width: 400px) {
    .main h2 {
        font-size: 4rem;
    }
}

.main h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    background-color: #cacaca; 
    margin: 1rem;
    border-radius: 10px;
    padding: .5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

@media (max-width: 767px) {
    .main h3 {
        font-size: 1rem;
    }
}

.main .btn {
    padding: 10px 50px;
    font-size: 1rem;
    background-color: #ffffff;
    border-radius: 3rem;
    color: rgb(0, 0, 0);
    margin: 30px;
    border: none;
    font-family: "Montserrat", sans-serif;
    box-shadow: 5px 10px 0 rgba(39, 39, 39, 0.932);
    transition: transform 1s ease, background-color 1.4s ease, color 1.5s ease, box-shadow 1.3s ease;
}

.main .btn:hover {
    transform: scale(1.3); 
    background-color: #000000; 
    color: white; 
    box-shadow: 5px 10px 0 rgba(255, 255, 255, 0.932);
}


.mensaje-slide {
    background-color: #cacaca; 
    border-radius: 3rem;
    margin-top: 2rem;
    transform: translateY(-50%);
    color: #fff;
    padding: 10px 20px;
    white-space: nowrap;
    overflow: hidden;
}

  .mensaje-slide h3 {
    margin: 0;
    padding: 0;
    opacity: 0;
    animation: slide-in-out 5s linear infinite;
  }

  @keyframes slide-in-out {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    10%, 90% {
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
    }
  }