* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 800;
  background-color: black;
}


html,
body {
  height: 100%;
  min-height: 100vh;
}

.home {
  width: 100%;
  height: 650px;
  overflow: hidden;
  
}

.main {
  width: 100%;
  height: 650px;
}

.nosotros {
  width: 100%;
  height: 650px;
}

.partner{
  width: 100%;
  height: 100px;
}

.footer {
  width: 100%;
  height: 100px;
}

/* MEDIA QUERIES DE LOS BLOQUES*/


/*media querie para main*/
@media screen and (max-width: 768px) {
    .main {
        width: 100%;
        height: 650px;
      }
}

@media screen and (max-width: 568px) {
    .main {
        width: 100%;
        height: 650px;
      }
}

@media screen and (max-width: 486px) {
    .main {
        width: 100%;
        height: 520px;
      }
}

@media screen and (max-width: 326px) {
    .main {
        width: 100%;
        height: 520px;
      }
}

@media screen and (max-width: 226px) {
    .main {
        width: 100%;
        height: 450px;
      }
}


/*media querie para Nosotros*/

@media only screen and (min-width: 701px) and (max-width: 767px) {
  .nosotros{
    width: 100%;
    height: 1090px;
}}
@media only screen and (min-width: 601px) and (max-width: 700px) {
  .nosotros{
    width: 100%;

    height: 1050px;
}}

@media only screen and (min-width: 501px) and (max-width: 600px) {
  .nosotros{
    width: 100%;

    height: 960px;
}}
@media only screen and (min-width: 401px) and (max-width: 500px) {
  .nosotros{
    width: 100%;

    height: 800px;
}}


@media only screen and (min-width: 300px) and  (max-width: 399px) {
  .nosotros{
    width: 100%;

    height: 640px;
}}


@media only screen and (max-width: 300px) {
  .nosotros{
    width: 100%;

    height: 550px;
}}

@media only screen and (max-width: 200px) {
  .nosotros{
    width: 100%;

    height: 350px;
}}





/*media querie para FOOTER*/

@media only screen and (max-width: 767px) {
  .footer{
    height: 150px;
}}


