*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    min-height: 100vh; /* Viewport Height */
    
}


.nav{
    background-color: #000000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
    
    width: 100%; 
    }
    
    .main {
    position: relative; /* Cambiamos a posición relativa */
    }
    
    .nav .logo{
    cursor: pointer;
    margin-right: auto;
    }
    
    .nav .logo h2{
    font-size: 30px;
    width: auto;
    margin: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    }
    
    
    
    .nav .nav-links{
    list-style: none;
    
    }
    
    
    
    .nav .nav-links li {
        display: inline-block;
        padding: 0.5rem;
        background-color: white;   /* Fondo blanco por defecto */
        border-radius: 3rem;
        transition: background-color 0.5s, color 0.5s; /* Transición suave para cambios de fondo y color */
    }
    
    .nav .nav-links a {
        font-size: 16px; /* Asegúrate de especificar la unidad 'px' */
        color: #000000; /* Color inicial del texto negro */
        text-decoration: none; /* Quitamos subrayado de los enlaces */
        transition: color 0.5s; /* Transición suave para cambios de color */
    }
    
    .nav .nav-links li:hover {
        background-color: #1050a3; /* Cambio de fondo a violeta en hover */
    }
    
    .nav .nav-links li:hover a {
        color: #ffffff; /* Cambio de color de texto a blanco en hover */
    }
    
    
    .nav .nav-links a:hover {
    color: #000; /* Color del texto al pasar el mouse (negro en este caso) */
    
    }
    
    
    
    /**/.menu {
    display:none;
    }
    
    .nav .btn button,
    /**/.nav .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #ffffff;
    padding: 9px 25px;
    background: #000000;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    }
    
    
    
    /**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
    
    }
    
    
    
    /*Nav Mobile*/
    
    .nav a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
    }
    
    .nav .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #5f5f5fe1;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    font-family: "RocaOne";
    }
    
    .nav .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    }
    
    .nav .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #000000;
    }
    
    .nav .overlay a:hover, 
    .nav .overlay a:focus{
    color: #d713f1;
    }
    
    .nav .overlay .close{
    top: 20px;
    right: 45px;
    font-size: 65px;
    }
    
    @media screen and (max-height:450px) {
    .nav .overlay a{
        font-size: 20px;
    }
    .nav .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    }
  
  

.home{
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.main{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .main {
        width: 100%;
        height: 1650px;
    }
}
@media (min-width: 768px) {
    .main {
        width: 100%;
        height: 650px;
    }
}

.planes{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .planes {
        width: 100%;
        height: 1200px;
    }
}
@media (min-width: 768px) {
    .planes {
        width: 100%;
        height:650px;
    }
}

.precios{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.footer{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.e-commerce{
    width: 100%;
    height: 650px;
    overflow: hidden;
}


.nosotros{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.whatsapp-icon {
    position: fixed; /* Mantiene el icono en una posición fija en la pantalla */
    right: 50px; /* Distancia desde el lado derecho de la pantalla */
    bottom: 20px; /* Distancia desde la parte inferior de la pantalla */
    z-index: 1000; /* Asegura que el ícono esté sobre otros elementos */
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6))
             drop-shadow(-5px -5px 5px rgba(0,0,0,0.6))
             drop-shadow(0 0 15px rgba(0,0,0,0.8)); /* Tres capas de sombra para una mayor intensidad y contraste */
    transition: transform .5s ease; /* Transición suave para el zoom */
}

.whatsapp-icon:hover {
    transform: scale(1.2); /* Aumenta el tamaño del ícono al pasar el mouse */
}