*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    min-height: 100vh; 
    
}


li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color: orange;
}


.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
}

.navbar .logo img {
    width: 150px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

.action_btn:hover {
    transform: scale(1.05);
}

.action_btn:active {
    transform: scale(0.95);
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 200px;
    background-color: grey;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    display: block;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: none;
        position: absolute;
        right: 2rem;
        top: 60px;
        width: 200px; /* Cambiado de 100% a auto */
        background-color: grey;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
    }

    .dropdown_menu.open {
        display: block;
    }

    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}


.home{
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.main{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .main {
        width: 100%;
        height: 1650px;
    }
}
@media (min-width: 768px) {
    .main {
        width: 100%;
        height: 650px;
    }
}


.nosotros{
    width: 100%;
    height: 650px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .nosotros {
        height: 1080px;
    }
}





.contacto{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.footer{
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.whatsapp-icon {
    position: fixed; 
    right: 50px; 
    bottom: 20px; 
    z-index: 1000; 
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6))
             drop-shadow(-5px -5px 5px rgba(0,0,0,0.6))
             drop-shadow(0 0 15px rgba(0,0,0,0.8)); 
    transition: transform .5s ease; 
}

.whatsapp-icon:hover {
    transform: scale(1.2); 
}