* {
  margin: 0;
  padding: 0;
  font-optical-sizing: auto;
  font-style: normal;
  overflow: hidden;
  font-family: sans-serif;
}

html,
body {
  height: 100%;
  min-height: 100vh; /* Viewport Height */
}

body {
  background-image: linear-gradient(to right, #000214, #1000bf85);
}

.titulo-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.titulo-main h2 {
  color: #fff;
  font-size: 3rem;
  text-shadow: 0 0 10px white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contenido-principal {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 767px) {
  .contenido-principal {
    display: flex;
    flex-direction: column; /* Cambio a layout vertical */
    justify-content: center;
    align-items: center;
    padding: 20px; /* Agregar algo de padding para no tocar los bordes de la pantalla */
  }
}

.cartas-productos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
}

@media (max-width: 767px) {
    .cartas-productos {
        width: 100%;
        height: 450px;
    }
}
@media (min-width: 768px) {
    .cartas-productos  {
        width: 100%;
        height: 450px;
    }
}


.cartas-productos img {
  width: 10rem;
  filter: drop-shadow(
    0 4px 12px rgba(0, 0, 0, 0.6)
  ); /* Sombra más oscura y con mayor desenfoque */
  transition: filter 0.3s ease; /* Transición suave para el filtro */
}

.cartas-productos img:hover {
  filter: drop-shadow(
    0 20px 20px rgba(0, 0, 0, 0.8)
  ); /* Sombra aún más intensa al hacer hover */
}

.cartas-productos h3 {
  font-size: 2rem;
  margin: 3rem;
  color: white;
  font-weight: 500;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  text-align: center;
}

.cartas-productos .h3amarillo {
  font-size: 2.5rem;
  margin: 3rem;
  color: rgb(255, 230, 2);
  font-weight: 400;
  text-align: center;
}

.cartas-productos .btn1 {
  padding: 1rem 3rem;
  border-radius: 3rem;
  background-color: grey;
  color: white;
  border: none;
  font-weight: 700;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para transform y sombra */
}

.cartas-productos .btn1:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.644); /* Sombra opcional para efecto de profundidad */
}

.cartas-productos .btn2 {
  padding: 1rem 3rem;
  border-radius: 3rem;
  background-color: #ff2ef8;
  color: white;
  border: none;
  font-weight: 700;
  text-decoration: none; /* Quita el subrayado del enlace */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves para transform y sombra */
}

.cartas-productos .btn2:hover {
  transform: scale(1.1); /* Aumenta el tamaño en un 10% */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.589); /* Sombra opcional para efecto de profundidad */
}


.cartas-productos .paginasWeb {
  width: 22rem;
  margin-top: -5rem;
  transition: transform 0.3s ease; /* Suaviza la transición de transformación */
  animation: float 3s ease-in-out infinite; /* Aplica la animación de flotar */
}

@media (max-width: 900px) {
  .cartas-productos .paginasWeb {
    width: 18rem;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(
      -2px
    ); /* Ajusta este valor para cambiar la altura de flotación */
  }
}
