*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}



body{
    background-color: #111111;
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
}

.titulo-texto{
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.titulo-texto h3{
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
    color: #FEFAE0;
    line-height: 1; /* Ajusta el espacio entre líneas */
}
.borde-hueco {
    color: transparent; /* Hace que el texto sea transparente */
    -webkit-text-stroke: 2px #FEFAE0; /* Grosor y color del borde */
    text-fill-color: transparent; /* Hace que el relleno del texto sea transparente */
}

.titulo-texto p {
    font-size: 1.5rem;
    color: #FFFFFF;
    margin: 1rem;
    padding-left: 15px; /* Espacio entre el borde y el texto */
    border-left: 5px solid #C9E265; /* Borde izquierdo de color verde */
    border-radius: 5px; /* Redondea las esquinas del borde */
}



.imagen{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}















@media screen and (min-width: 769px) {
    .titulo-texto h3{
        font-size: 10vw; /* Utiliza un tamaño de fuente relativo */
        text-align: center; /* Alinea el texto al centro */
        margin: 0; /* Elimina el margen del h3 */
    }
  
    .imagen{
        width: 100%;

        align-items: center;
    }
    .imagen img{
        width: 100%;
    }
}




@media screen and (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .titulo-texto{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .titulo-texto h3{
        font-size: 20vw; /* Utiliza un tamaño de fuente relativo */
        text-align: center; /* Alinea el texto al centro */
        margin: 0; /* Elimina el margen del h3 */
    }

    .titulo-texto p {
        font-size: 4vw; /* Utiliza un tamaño de fuente relativo */
      
    }
    .imagen{
        width: 100%;

        align-items: start;
    }
    .imagen img{
        width: 100%;
    }

}


