* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;

}

body {
  background-color: #111111;
  display: flex;
  flex-direction: column;
}

.titulo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo img{
    margin-top: 2rem;
}



.contenido-planes{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
}

.planes{
    width: auto;
    padding: 2rem;
    height: auto;
    background-color:#FEFAE0 ;
    border-radius: 2rem;
    text-align: center;
}

.planes h2{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
}

.planes p{
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 100;
}

.cajaPlanes{
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.cajaPlanes h4 {
  color: #B0B901;
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}

.cajaPlanes h4::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #B0B901;
  transition: width 0.5s ease; /* Añadimos una transición a la propiedad width */
}

.cajaPlanes h4:hover::before {
  width: 100%;
}


@media (max-width: 767px) {
  .contenido-planes{
    width: 100%;
    height: auto;
    flex-direction: column;
}
}
