*{
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    height: 100%;
    min-height: 100vh; /* Viewport Height */
}


body{
    background-image: url(../images/fondoTuWebi.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea el contenido hacia el lado derecho */
    margin-right: 10%; /* Mantiene un espacio del 30% a la derecha */
    padding: 20px; /* Espacio interno para que no esté pegado al borde de la pantalla */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
    height: auto;
  }
.header h2{
    padding: 10px 15px;
    background-color: #0000007e;
    border-radius: 1rem;
    color: #66E5FB;
    font-size: 3rem;
}



.main{
    width: 100%;
    height: auto;
    display: flex;
}


.main1 {
    display: flex;
    width: 50%;
    height: 400px; /* Ajusta según necesites, puede que menos altura funcione mejor */
    justify-content: flex-start; /* Esto alinea los elementos hacia la parte superior del contenedor */
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10%;
    padding-top: 0; /* Asegúrate de que no haya padding superior que empuje hacia abajo los contenidos */
}

.main1 > h3, .main1 > h4 {
    margin-top: 0; /* Elimina margen superior de los primeros elementos si es necesario */
}

.special-dot {
    color: #414141; /* Cambia el color a rosa o cualquier otro color de tu elección */
}



.main1 h3 {
    font-size: 6rem;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6);
}

.main1 h4 {
    font-size: 2rem;
    color: #FF4FF3;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0 0 8px rgba(255, 79, 243, 0.8), 0 0 16px rgba(255, 79, 243, 0.6);
}


.btn{
    padding: 1rem;
    border-radius: 30px;
    margin-top: 3rem;
    background-image: linear-gradient(to right, #832EFF, #FE4FF2);
    color: white;
    font-weight: 600;
    border: none;
    font-size: 1rem;
}


.main2{
    display: flex;
    width: 50%;
    height: auto;
    justify-content: end;
    align-items: flex-end;
    margin-right: 1rem;
}


.text-slider {
    display: flex;
    position: relative;
    height: 50px; /* Ajustado para mayor altura */
    overflow: hidden;
    width: 50%; /* Asegura que el contenedor ocupe el ancho necesario */
    background-color: #272838;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    color: white;
    font-weight: 200;
}

.text-slider span {
    position: absolute;
    width: 100%; /* Asegúrate de que cada span ocupe todo el ancho del contenedor */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    opacity: 0;
    transition: opacity 1s ease-in-out;
    padding:  0; /* Añade algo de padding para evitar que el texto toque los bordes */
    font-size: 1.5rem; /* Ajusta el tamaño de la fuente según necesites */
}
